:root {
  --main-color: rgb(226, 226, 226);
  --second-color: #011627;
  --thirty-color: rgb(75, 0, 0);
  --second-font: sans-serif;
  --third-background: #f36076;
  --second-background: #fff;
  --main-font: Corbel light, Calibri light, sans-serif;
  --font-size: 16px;
  --level-1: DarkSlateGray;
  --level-2: Teal;
  --level-3: LightSeaGreen;
  --level-4: #f27c8d;
  --black: black;
}

*,
* :after,
* :before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

html {
  font-size: var(--font-size);
  box-sizing: border-box;
  font-family: var(--main-font);
  background-color: var(--main-color);
  overflow-x: hidden;
}

main {
  /* padding: 0 6rem; */
  text-align: center;
}

h1 {
  padding-top: 2rem;
  font-size: 2rem;
  color: var(--thirty-color);
}

article {
  min-height: 70vh;
}

/* article:last-of-type {
  height: auto;
} */

/* -----------------CABECERA-----------------*/

nav {
  display: flex;
  padding: 1rem 6rem;
  height: 6vh;
  font-size: 1rem;
  background-color: var(--second-color);
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: white;
  margin: 1rem;
}

nav a img {
  max-height: 5vh;
  width: auto;
  border-radius: 50%;
}

/* -----------------Quienes SOmos-----------------*/

.QuienesSomos {
  padding: 0 6rem;
  /* margin: 50px 0 100px; */
  text-align: center;
  font-family: var(--first-font);
}

.MVO {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 3rem;
  /* align-items: center; */
  /* gap: 0.3rem; */
}

.nosotros {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 2rem;
}

img {
  border-radius: 50%;
  width: 5rem;
  height: auto;
}

.FirstCol {
  padding: 2rem;
  grid-column: 1/5;
  border-right: solid thin rgb(41, 131, 167);
}

.SecondCol {
  padding: 2rem;
  grid-column: 5/9;
  border-right: solid thin rgb(41, 131, 167);
}

.ThirdCol {
  padding: 2rem;
  grid-column: 9/13;
}

.card-names {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: 50%; */
  border: none;
}

.QuienesSomos h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h1 p {
  font-size: 1.5rem;
}

.name-card {
  font-size: 1.5rem;
  font-weight: bold;
}

/* -----------------ORGANIGRAMA-----------------*/

#Organigrama {
  padding: 0 6rem;
  background-color: var(--second-background);
}

.container-org {
  max-width: 1000px;
  padding: 0 10px;
  padding-top: 10vh;
  margin: 0 auto;
  color: DarkKhaki;
}

.container-org h2 {
  font-size: 1.3rem;
}

.rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* LEVEL-1 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
  width: 50%;
  margin: 0 auto 40px;
  background: var(--level-1);
}

.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.container-org h1 {
  color: rgb(157, 190, 98);
  font-size: 2rem;
}

/* LEVEL-2 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-2-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.level-2-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 16.6%;
  width: 66.6%;
  height: 2px;
  background: var(--black);
}

.level-2-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 20px);
  height: 2px;
  background: var(--black);
}

.level-2-wrapper li {
  position: relative;
}

.level-2-wrapper > li::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.level-2 {
  width: 70%;
  margin: 0 auto 40px;
  background: var(--level-2);
}

.level-2::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.level-2::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--black);
}

/* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-3-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 90%;
  margin: 0 auto;
  color: DarkOliveGreen;
}

.level-3-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(25% - 5px);
  width: calc(50% + 10px);
  height: 2px;
  background: var(--black);
}

.level-3-wrapper > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 2px;
  height: 20px;
  background: var(--black);
}

.level-3 {
  margin-bottom: 20px;
  background: var(--level-3);
}

/* LEVEL-4 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-4-wrapper {
  position: relative;
  width: 80%;
  margin-left: auto;
}

.level-4-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 2px;
  height: calc(100% + 20px);
  background: var(--black);
}

.level-4-wrapper li + li {
  margin-top: 20px;
}

.level-4 {
  font-weight: normal;
  background: var(--level-4);
}

.level-4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--black);
}

/* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 864px) {
  .rectangle {
    padding: 20px 10px;
  }

  .level-1,
  .level-2 {
    width: 100%;
  }

  .level-1 {
    margin-bottom: 20px;
  }

  .level-1::before,
  .level-2-wrapper > li::before {
    display: none;
  }

  .level-2-wrapper,
  .level-2-wrapper::after,
  .level-2::after {
    display: block;
  }

  .level-2-wrapper {
    width: 90%;
    margin-left: 10%;
  }

  .level-2-wrapper::before {
    left: -20px;
    width: 2px;
    height: calc(100% + 40px);
  }

  .level-2-wrapper > li:not(:first-child) {
    margin-top: 50px;
  }
}

/* Texto Hoover */

.aparecer:hover {
  background-color: darkgrey;
  font-size: 0;
}

.aparecer:hover > div {
  font-size: 1.2rem;
  color: darkslategrey;
  width: 50%;
  margin: auto;
}

.invisible {
  font-size: 0;
}

/* -----------------FODA-----------------*/

#FODA {
  padding: 0 6rem;
}

.Foda {
  padding-top: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

/* .Foda h3 {
  text-shadow: #000;
} */

.Fortalezas {
  display: grid;
  align-items: center;
  color: white;
  background-color: rgb(64, 137, 221);
  border-radius: 1rem;
  min-height: 15vh;
  padding: 0.5rem;
}

.Oportunidades {
  display: grid;
  align-items: center;
  /* color: white; */
  background-color: rgb(72, 202, 219);
  border-radius: 1rem;
  min-height: 15vh;
  padding: 0.5rem;
}

.Debilidades {
  display: grid;
  align-items: center;
  /* color: white; */
  background-color: rgb(96, 175, 123);
  border-radius: 1rem;
  min-height: 15vh;
  padding: 0.5rem;
}

.Amenazas {
  display: grid;
  align-items: center;
  color: white;
  background-color: rgb(223, 165, 100);
  border-radius: 1rem;
  min-height: 15vh;
  padding: 0.5rem;
}

/* -----------------Clientes-----------------*/
#Clientes {
  padding: 0 6rem;
  background-color: var(--second-background);
}

.trabajos {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: ;
}

.border-mark {
  border-right: solid thin rgb(41, 131, 167);
}

.trabajos img {
  border-radius: 0;
  width: auto;
  height: 40vh;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.modal-contenedor {
  width: 70%;
  height: 30%;
  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

#btn-modal2:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.contenedor {
  width: 400px;
  height: 300px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}

#btn-modal2:checked ~ .modal .contenedor {
  transform: translateY(0%);
}

.modal-header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.contenido {
  width: 100%;
  padding: 10px;
}

.contenido img {
  margin-bottom: 10px;
  border-radius: 0;
  width: auto;
  height: 80vh;
}

#btn-modal {
  display: none;
}

#btn-modal2 {
  display: none;
}

.lbl-modal {
  background: #fff;
  padding: 10px 15px;
  /* border-radius: 4px; */
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contenedor {
    width: 95%;
  }
}

/* -----------------Precios-----------------*/

#Precios {
  padding: 0 6rem;
}

.precios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 2rem;
}

.precio-cards {
  /* border: solid thin; */
  /* display: grid; */
  grid-template-rows: repeat(3, 1fr);
  /* border-color: skyblue; */
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

.precio-cards div {
  /* border: solid thin;
  border-color: white; */
  height: 8rem;
  /* padding: 1rem 0.5rem 0.5rem 0.5rem; */
}

.precio-cards div:first-child {
  padding: 1rem;
  height: auto;
  color: #fff;
  font-weight: bolder;
  background-color: var(--third-background);
  border-radius: 1rem 1rem 0 0;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.precio-cards-text {
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem 0.5rem 0.5rem 1rem;
}
.price-card {
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  max-height: 6rem;
}

/* -----------------Footer-----------------*/

footer {
  min-height: 4rem;
  background-color: var(--second-color);
  color: white;
  padding-top: 1rem;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-content: center;
  align-items: center;
  text-align: center;
}

.social {
  grid-column: 1/2;
  grid-row: 1/2;
  /* position: relative; */
}

.social i {
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
  align-items: center;
}

.direction {
  font-family: calibri light;
  font-size: 1.5rem;
  grid-column: 2/2;
  grid-row: 1/2;
}

.form {
  grid-column: 1/2;
  grid-row: 2/2;
}

.map {
  grid-column: 2/2;
  grid-row: 2/2;
}

iframe {
  width: 80%;
  height: 20rem;
}

.contact-form {
  --form-ok-color: #4caf50;
  /* --form-error-color: #f44336; */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 40%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
